In [80]:
import pandas as pd
import numpy as np

# Keep for reference
# df.to_csv('instruction_time_clean.csv', index=False)

df = pd.read_csv('instruction_time.csv')

# Set columns to filter by
integer_columns = ['YEAR', 'Year', 'PowerCode Code']
float_columns = ['Value']

# Set all columns as its category... clean out values
df[list(df.columns)] = df[list(df.columns)].astype('category')
df[integer_columns] = df[integer_columns].astype(int)
df[float_columns] = df[float_columns].astype(float)

# Verification of correlations between similar columns for us to drop
#   * Unique Values returned on the right
# df['SUBJECT'].unique # ['COM_T', 'INT_T', 'NCO_T']
# df['Subject'].unique # ['Compulsory instruction time (total)', 'Intended instruction time (total)', 'Non-compulsory instruction time (total)']
# df['AGE'].unique # ['T']
# df['Age'].unique # ['Total: All age groups']
# df['UNIT'].unique # []
# df['Unit'].unique # []
# df['PowerCode Code'].unique # Same value: 0
# df['PowerCode'].unique # ['Units']
# df['Reference Period Code'].unique # []
# df['Reference Period'].unique # []

df['Value'] = df['Value'].fillna(np.NaN)
df['Value'].unique
# Set gathered from the unique tests
columns_to_drop = [
    'Year', # corr: 1
    'Subject', # corr: 1
    'AGE',
    'Age',
    'Unit Code',
    'Unit',
    'PowerCode Code',
    'PowerCode',
    'Reference Period Code',
    'Reference Period',
    'Flag Codes', # corr: 1
]
df = df.drop(columns_to_drop, axis=1)
df.to_csv('instruction_time_clean.csv', index=False)

In [83]:
df_clean = pd.read_csv('instruction_time_clean.csv')
# df_clean['Value'].unique
df_clean

    COUNTRY        Country  ...      Value         Flags
0       FIN        Finland  ...  650.75000           NaN
1       FIN        Finland  ...   32.57143           NaN
2       FIN        Finland  ...  683.32143           NaN
3       FIN        Finland  ...  807.50000           NaN
4       FIN        Finland  ...   86.85714           NaN
..      ...            ...  ...        ...           ...
331     USA  United States  ...        NaN  Missing data
332     USA  United States  ...        NaN  Missing data
333     USA  United States  ...        NaN  Missing data
334     USA  United States  ...        NaN  Missing data
335     USA  United States  ...        NaN  Missing data

[336 rows x 10 columns]