In [21]:
import pandas as pd
import numpy as np
import json

In [63]:
df = pd.read_csv('instruction_time.csv')
df.head()

,COUNTRY,Country,YEAR,ISC11,ISCED 2011,SUBJECT,INDICATOR,Indicator,Value,Flags
0,FIN,Finland,2017,L1,Primary education (ISCED2011 level 1),COM_T,HR_YR,Average hours per year of instruction time (in...,650.75000,NaN
1,FIN,Finland,2017,L1,Primary education (ISCED2011 level 1),NCO_T,HR_YR,Average hours per year of instruction time (in...,32.57143,NaN
2,FIN,Finland,2017,L1,Primary education (ISCED2011 level 1),INT_T,HR_YR,Average hours per year of instruction time (in...,683.32143,NaN
3,FIN,Finland,2017,L2_C4,Lower secondary general education (ISCED2011 ...,COM_T,HR_YR,Average hours per year of instruction time (in...,807.50000,NaN
4,FIN,Finland,2017,L2_C4,Lower secondary general education (ISCED2011 ...,NCO_T,HR_YR,Average hours per year of instruction time (in...,86.85714,NaN

In [25]:
with open('../iso_country_codes/iso_country_codes.json', encoding="ISO-8859-1") as fp:
    iso_country_dic = dict( json.load(fp))
# iso_country_dic

In [67]:
# df.drop('COUNTRY',inplace=True, axis=1)
df.columns = map(str.lower, df.columns)
df['ID'] = df['country'].str.strip().str.lower().map(iso_country_dic)

df.head()

,country,year,isc11,isced 2011,subject,indicator,indicator,value,flags,id,ID
0,Finland,2017,L1,Primary education (ISCED2011 level 1),COM_T,HR_YR,Average hours per year of instruction time (in...,650.75000,NaN,FIN,FIN
1,Finland,2017,L1,Primary education (ISCED2011 level 1),NCO_T,HR_YR,Average hours per year of instruction time (in...,32.57143,NaN,FIN,FIN
2,Finland,2017,L1,Primary education (ISCED2011 level 1),INT_T,HR_YR,Average hours per year of instruction time (in...,683.32143,NaN,FIN,FIN
3,Finland,2017,L2_C4,Lower secondary general education (ISCED2011 ...,COM_T,HR_YR,Average hours per year of instruction time (in...,807.50000,NaN,FIN,FIN
4,Finland,2017,L2_C4,Lower secondary general education (ISCED2011 ...,NCO_T,HR_YR,Average hours per year of instruction time (in...,86.85714,NaN,FIN,FIN

In [57]:
# df['Indicator'] = df['Indicator'].astype('category').cat.codes

# df['INDICATOR'] = df['INDICATOR'].astype('category').cat.codes
# df[['Indicator', 'INDICATOR']].corr()

In [68]:
df.to_csv('instruction_time_clean.csv', index=False)

In [7]:
# Keep for reference
# df.to_csv('instruction_time_clean.csv', index=False)
# df.
# Set columns to filter by
# integer_columns = ['YEAR', 'Year', 'PowerCode Code']
# float_columns = ['Value']

# # Set all columns as its category... clean out values
# df[list(df.columns)] = df[list(df.columns)].astype('category')
# df[integer_columns] = df[integer_columns].astype(int)
# df[float_columns] = df[float_columns].astype(float)

# # Verification of correlations between similar columns for us to drop
# #   * Unique Values returned on the right
# # df['SUBJECT'].unique # ['COM_T', 'INT_T', 'NCO_T']
# # df['Subject'].unique # ['Compulsory instruction time (total)', 'Intended instruction time (total)', 'Non-compulsory instruction time (total)']
# # df['AGE'].unique # ['T']
# # df['Age'].unique # ['Total: All age groups']
# # df['UNIT'].unique # []
# # df['Unit'].unique # []
# # df['PowerCode Code'].unique # Same value: 0
# # df['PowerCode'].unique # ['Units']
# # df['Reference Period Code'].unique # []
# # df['Reference Period'].unique # []

# df['Value'] = df['Value'].fillna(np.NaN)
# df['Value'].unique
# # Set gathered from the unique tests
# columns_to_drop = [
#     'Year', # corr: 1
#     'Subject', # corr: 1
#     'AGE',
#     'Age',
#     'Unit Code',
#     'Unit',
#     'PowerCode Code',
#     'PowerCode',
#     'Reference Period Code',
#     'Reference Period',
#     'Flag Codes', # corr: 1
# ]
# df = df.drop(columns_to_drop, axis=1)
# df.to_csv('instruction_time_clean.csv', index=False)

In [60]:
# df_clean = pd.read_csv('instruction_time_clean.csv')
# # df_clean['Value'].unique
# df_clean