In [1]:
# standard libraries
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

# statistical modelling packages
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor # for detecting multicolinearity
import statsmodels.formula.api as smf # allows us to supply a forumla to statsmodels for quick iteration

In [4]:
df= pd.read_csv('imputed.csv')
log_df = df.copy(

# Log Data

Create a log list based on linear_or_nah.ipynb graphs

In [9]:
log_list = ["GDP_2018","LS_completion","LS_completion_male","LS_completion_female","teacher_need_multicultural_pd","salary_per_instruction_hr","expect_degree","home_desk_quiet"]

Run for loop to create "logged" columns with ending "_log"

In [16]:
for i in log_list:
    df[i+"_log"] = np.log(df[i])
    print("Logged " + str(i))

Logged GDP_2018
Logged LS_completion
Logged LS_completion_male
Logged LS_completion_female
Logged teacher_need_multicultural_pd
Logged salary_per_instruction_hr
Logged expect_degree
Logged home_desk_quiet

In [21]:
df.head()

,COUNTRY,ID,READING_AVG,MATH_AVG,SCIENCE_AVG,GDP_2018,P_Enrollment_Totals,LS_completion,LS_completion_male,LS_completion_female,...,GDP_2018_log,LS_completion_log,LS_completion_male_log,LS_completion_female_log,teacher_need_multicultural_pd_log,salary_per_instruction_hr_log,expect_degree_log,home_desk_quiet_log,P_expenditure_rel_GDP,LS_expenditure_rel_GDP
0,United States,USA,505,478,502,62605.592,24957955.89,98.75227,98.901003,98.606098,...,11.044610,4.592614,4.594119,4.591133,1.808289,2.724703,4.330733,4.294561,0.187316,0.202753
1,Russia,USSR-RUS,479,488,478,29266.855,6927980.00,99.41000,99.630000,99.170000,...,10.284211,4.599253,4.601463,4.596836,2.541602,3.690548,2.827314,4.479607,0.197987,0.226893
2,Belarus,USSR-BLR,474,472,471,20003.029,427752.00,99.93871,99.853840,100.000000,...,9.903639,4.604557,4.603708,4.605170,3.581204,3.012459,3.988677,4.189457,0.161031,0.162073
3,Israel,ISR,470,463,462,37972.002,936214.00,98.07000,99.360000,96.930000,...,10.544604,4.585682,4.598750,4.573989,2.803360,2.663426,4.043051,4.502029,0.209926,0.271528
4,Ukraine,USSR-UKR,466,453,469,9283.433,1676550.00,99.45947,99.511510,99.417580,...,9.135987,4.599750,4.600273,4.599329,3.266745,3.175162,4.149784,3.946016,0.281369,0.270536

# Create New Columns

Create new columns based on expenditure per student as percent of GDP

In [12]:
df["P_expenditure_rel_GDP"] = df.P_annual_exp / df.GDP_2018
df["LS_expenditure_rel_GDP"] = df.LS_annual_exp / df.GDP_2018

In [13]:
df.columns

Index(['COUNTRY', 'ID', 'READING_AVG', 'MATH_AVG', 'SCIENCE_AVG', 'GDP_2018',
       'P_Enrollment_Totals', 'LS_completion', 'LS_completion_male',
       'LS_completion_female', 'teacher_sent_societal_contribution',
       'teacher_need_multicultural_pd', 'teacher_PD_12M_Value',
       'salary_per_instruction_hr', 'principal_PD_12M_Value', 'LS_ta_presence',
       'P_ta_presence', 'LS_guard_presence', 'P_sped_ta_presence',
       'LS_sped_ta_presence', 'P_national_assessment',
       'LS_national_assessment', 'P_annual_exp', 'LS_annual_exp',
       'expect_degree', 'test_anxiety', 'study_habits', 'expect_good_grades',
       'home_comp_internet', 'home_desk_quiet', 'home_schoolbooks',
       'GDP_2018_log', 'LS_completion_log', 'LS_completion_male_log',
       'LS_completion_female_log', 'teacher_need_multicultural_pd_log',
       'salary_per_instruction_hr_log', 'expect_degree_log',
       'home_desk_quiet_log', 'P_expenditure_rel_GDP',
       'LS_expenditure_rel_GDP'],
      dtype='object')

In [14]:
df.to_csv('transformed.csv')